@import "tailwindcss";

@font-face {
  font-family: "Impact";
  src: url("./assets/impact.woff2") format("woff2");
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 1px black;
}